.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}


.font-lg {
  font-size: $--txt-lg;
}

.font-sm {
  font-size: $--txt-sm;
}

.font-xs {
  font-size: $--txt-xs;
}


.font-bold {
  font-weight: bold;
}

// end of font