.h-screen {
  height: 100vh;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}


.mt-auto {
  margin-top: auto;
}


.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}


.block {
  display: block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-right {
  text-align: right;
}


.list-none {
  list-style-type: none;
}

.object-cover {
  object-fit: cover;
}

// end of utilities