// color
$--color-primary: #198754;

$--color-gray-900: #212529;
$--color-gray-600: #6C757D;
$--color-gray-400: #CED4DA;
$--color-gray-100: #F8F9FA;

$--color-black: #000000;
$--color-white: #FFFFFF;


// font
$--txt-base: 1rem;

$--txt-lg: $--txt-base * 1.5;

$--txt-sm: $--txt-base * 0.875;
$--txt-xs: $--txt-base * 0.75;