<header
  class="header container fixed w-full flex justify-between align-center p-8 font-bold">
  <div class="flex align-center">
    <h2 class="my-0 font-lg">Assignment</h2>

    <a href="#" class="flex align-center gap-2">
      All Courses
      <span class="material-symbols-outlined font-lg text-primary">
        expand_more
      </span>
    </a>
  </div>

  <ul class="flex gap-6 pl-0 list-none font-lg">
    <li>
      <a href="#" class="flex align-center">
        <span class="material-symbols-outlined">
          search
        </span>
      </a>
    </li>

    <li>
      <a href="#" class="flex align-center">
        <span class="material-symbols-outlined">
          notifications_active
        </span>
      </a>
    </li>
  </ul>
</header>