<nav class="nav fixed h-screen w-fit p-8 pr-20 flex flex-col bg-gray-100">
  <a href="./index.html" class="mb-8">
    <h1 class="h1-logo my-0">Answer</h1>
  </a>

  <ul class="nav-list flex flex-col gap-6 pl-0 font-bold list-none">
    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center">
          <!-- QQ -->
          <span class="material-symbols-outlined mr-4 font-lg">
            insert_chart
          </span>
          Dashboard
        </a>
      </div>
    </li>

    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center">
          <span class="material-symbols-outlined mr-4 font-lg">
            forum
          </span>
          Question
        </a>
      </div>
    </li>

    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center active">
          <span class="material-symbols-outlined mr-4 font-lg">
            assignment
          </span>
          Assignment
        </a>
      </div>
    </li>

    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center">
          <span class="material-symbols-outlined mr-4 font-lg">
            video_library
          </span>
          Course
        </a>
      </div>
    </li>

    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center">
          <span class="material-symbols-outlined mr-4 font-lg">
            person
          </span>
          Admin
        </a>
      </div>
    </li>

    <li class="nav-list-item">
      <div>
        <a href="#" class="flex align-center">
          <span class="material-symbols-outlined mr-4 font-lg">
            settings
          </span>
          Settings
        </a>
      </div>
    </li>
  </ul>

  <a href="#" class="inline-flex align-center mt-auto gap-4">
    <img loading="lazy"
      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/andychen.jpeg"
      alt="user-avatar" class="size-10 border-radius-6 object-cover">

    <div>
      <p class="my-0 mb-1 font-bold">Andy Chen</p>
      <p class="my-0 fon-sm text-gray-600">andy0401@mail.com</p>
    </div>
  </a>
</nav>