.bg-gray-100 {
  background-color: $--color-gray-100;
}


.text-primary {
  color: $--color-primary;
}

.text-gray-600 {
  color: $--color-gray-600;
}


.border-card {
  border: 1px solid #CED4DA;
}

.border-card-bottom {
  border-bottom: 1px solid #CED4DA;
}


.active {
  padding-left: 29px;
  margin-left: -32px;

  color: $--color-primary;
  border-left: 4px solid $--color-primary;
}

// end of theme