.btn {
  padding: 8px 32px;

  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.9s linear;
}

.btn-outline-primary {
  outline: 1px solid $--color-primary;
  color: $--color-primary;
  background-color: transparent;

  &:hover {
    color: $--color-white;
    background-color: $--color-primary;
    outline: none;
  }
}

.btn-primary {
  color: $--color-white;
  background-color: $--color-primary;

  &:hover {
    outline: 1px solid $--color-primary;
    color: $--color-primary;
    background-color: transparent;
  }
}

// end of button