.main {
  left: 25%;

  &-content {
    top: $--header-height;

    height: calc(100vh - $--header-height);
  }
}

// end of main

.aside {
  width: calc(320 / 936 * 100%);

  &-dropdown {
    margin-bottom: 6px;
  }

  &-list-item {
    margin-top: -1px;

    &:first-child {
      border-radius: 2px 2px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 2px 2px;
    }
  }
}

// end of aside

