.main {
  left: 25%;

  &-content {
    top: $--header-height;

    height: calc(100vh - $--header-height);
    overflow-y: scroll;
  }
}

// end of main

.aside {
  width: calc(320 / 936 * 100%);

  & h3,
  p {
    // #NOTE: cutting the words with `...`
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-dropdown {
    margin-bottom: 6px;
  }

  &-list-item {
    margin-top: -1px;

    &:first-child {
      border-radius: 2px 2px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 2px 2px;
    }
  }
}

// end of aside

.forum {
  width: calc(584 / 936 * 100%);

  border-radius: 2px;

  & .icon-star {
    transition: all .5s linear;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;

    &:hover {
      transform: scale(1.02);
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    }
  }
}

#input-star:checked~label>.material-symbols-outlined {
  color: $--color-primary;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

// end of forum

input[id="modal"]:not(:checked) {

  ~.modal,
  ~.modal-background {
    opacity: 0;
    transition: opacity 0.3s linear;
    // animation: hide 0.3s linear;
  }
}

input[id="modal"]:checked {

  ~.modal,
  ~.modal-background {
    // display: block;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal {
  position: absolute;
  // position: fixed;
  // top: 0;
  // left: 0;
  right: 0;
  bottom: 40%;

  display: none;
  width: 100%;
  height: 300%;
  margin: auto;

  border-radius: 2px;
  z-index: 9999;

  // &-body {
  // padding: 15px;
  // margin: 0;
  // margin-top: auto;
  // flex-grow: 1;
  // }

  &-header {
    // height: 50px;

    border-radius: 2px 2px 0px 0px;

    &-title {
      display: inline-block;
      margin: 0;
      padding-left: 15px;
      line-height: 50px;
    }

    label {
      float: right;
      padding: 0 15px;
      line-height: 50px;

      &:hover img {
        opacity: 0.6;
      }
    }
  }

  &-footer {
    // height: 60px;
    display: flex;
    flex-direction: row-reverse;
    // padding: 15px;
    border-radius: 0px 0px 2px 2px;
  }
}

.modal {
  // transition: opacity 0.3s linear;
  animation: show 0.3s linear;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

// @keyframes hide {
//   from {
//     opacity: 1;
//     transform: scale(1);
//   }

//   to {
//     opacity: 0;
//     transform: scale(0);
//   }
// }

// end of modal-editor